# Entorno virtual
venv/
.venv/
env/

# Archivos compilados de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Configuraciones de IDEs locales
.vscode/
.idea/

# Archivos de texto
directrices_password_antigravity.txt